.portfolio{
    display: flex;
    justify-content: space-between;
}
.reseaux{
    display: flex;
    justify-content: space-between;
}
.animaux{
    min-width: 300px;
    min-height: 300px;
background-image: url('IMG/animaux.webp');
background-size: cover;
}
.voyage{
    min-width: 300px;
    min-height: 300px;
    background-image: url('IMG/voyage.webp');
    background-size: cover;
}
.jeux{
    min-width: 600px;
    min-height: 300px;
    background-image: url('IMG/nous.jpg');
    background-size: cover;
}

.siteanimaux:hover{
    opacity: 0.7;
}
h2 {
    text-align: center;
    color: violet;
    font-size: 93px;
}

.sitevoyage:hover{
    opacity: 0.8;
}
.sitejeux , .sitevoyage , .siteanimaux {
    width: 100%;
    height: 100%;
    background-color: grey;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-size: 30px;
}
.sitejeux:hover{
    opacity: 0.9;
}
form{
    text-align: center;
}