h3{
    font-size: 50px;
    font-weight: 500;
    line-height: 30px;
    color: #c01010;
    text-align: center;
}
p{
font-size: 30px;
text-align: center;
padding: 5px;
}
.video-responsive {
    display: flex;
    justify-content: center; /* Centre la vidéo horizontalement */
    align-items: center; /* Centre verticalement si nécessaire */
    height: auto; /* Ajuste la hauteur automatiquement */
    padding: 20px 0; /* Ajoute un peu d'espace au-dessus et en dessous */
}
.video-responsive iframe {
    width: 70%; /* Ajuste la largeur (tu peux mettre 50% si tu veux encore plus petit) */
    max-width: 700px; /* Taille maximale */
    height: 400px; /* Hauteur proportionnelle */
}
   .iaGenerative{
    display: flex;
    justify-content: center; /* Centre la vidéo horizontalement */
    align-items: center; /* Centre verticalement si nécessaire */
    height: auto; /* Ajuste la hauteur automatiquement */
    padding: 20px 0; /* Ajoute un peu d'espace au-dessus et en dessous */
   }
   .iaGenerative iframe{
    width: 70%; /* Ajuste la largeur (tu peux mettre 50% si tu veux encore plus petit) */
    max-width: 700px; /* Taille maximale */
    height: 400px; /* Hauteur proportionnelle */
   }
   .experiences{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 3em;
   }
.diff{
    color: green;
    font-size: 40px;
    text-decoration: underline ;
    text-align: center;
}
.diff_avantages {
    display: flex;
    justify-content: center; /* Centre l'image horizontalement */
    align-items: center; /* Centre l'image verticalement (si besoin) */
}
.diff_avantages img {
    height: 800px;
    /* width: 900px; */
}
.details{
    font-size: 40px;
}
h2 {
    text-align: center;
    color: violet;
    font-size: 93px;
}
.actualite a{
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: underline; /* Ajoute un soulignement */
    padding: 15px;

}
.actualite a:hover {
    color: red; /* Change la couleur en rouge, modifie selon ton choix */
    transition: color 0.3s ease; /* Ajoute une transition fluide */
    
}
.diapo a{
    font-size: 30px;
    border: solid black;
    width: fit-content;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 5px;
}
.diapo a:hover{
    color: red;
}
.diapo{
    display: flex;
    justify-content: center;
}